<div class="container">
	<div class="row">
		{{ error }}
		<div class="col-md-4">	
			<h2><img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}"> {{user.name}}</h2>		
		</div>
		<div class="col-md-4 form-group vertalign"><div class="content">
			<select class="form-control" data-style="btn-primary" ng-model="repoSortOrder">
				<option value="+name">Name</option>
				<option value="-stargazers_count">Stars Count</option>
				<option value="+language">Language</option>
			</select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="control-group vertalign">
			  <div class="controls content">
				<a href="#/main"><button id="button1id" name="button1id" class="btn btn-success">Main Search</button></a>
			  </div>
			</div>		
		</div>		
	</div>
</div>	
	
<div class="well">
	<table class="table">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Stars</th>
		  <th>Language</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="repo in repos | orderBy:repoSortOrder">
		  <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
		  <td>{{repo.stargazers_count}}</td>
		  <td>{{repo.language}}</td>
		</tr>
	  </tbody>
	</table>
</div>

<div class="btn-toolbar">
	<a href="#/main">Back to search</a>
</div>

